input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid rgb(51, 216, 172);
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, rgb(107, 210, 228), rgb(146, 116, 102));
  }
  
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }