@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
  background-color: rgb(235, 248, 147);
}

h5 {
    text-align: center;
}

#headContainer {
  background-color: rgb(40, 148, 40);
}

select{
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.form-select:hover{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: interact;
  animation-duration: 800ms ;
  animation-iteration-count: infinite;
  border-left: 8px solid rgb(98, 173, 100);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@keyframes interact{
  0%   {border-left: 3px solid #009C3B;}
  25%  {border-left: 4px solid #FFDF00;}
  50%  {border-left: 5px solid #002776;}
  100% {border-left: 6px solid #FFFFFF;}
}


.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background-color: salmon;
    border: 1px solid #91C9FF;
    outline: thick ridge rgb(99, 148, 211);
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: rgb(134, 64, 64);
    font-size: 18px;
    font-weight: 100;
  }

#infoDiv{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

