#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: rgb(29, 135, 47);
    }

    #square1 {
        margin: 100px;
        width: 100px;
        height: 100px;
        background: rgb(49, 72, 90);
        }